{
    "extends": "@react-native-community",
    "plugins": ["prettier"],
    "parser": "@babel/eslint-parser",
    "rules": {
      "quotes": "off",
      "comma-dangle": "off",
      "react-hooks/exhaustive-deps": "off",
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ]
    }
  }